<div class="container-fluid">

  <div class="col-6">

    <table class="table">

      <thead>

        <tr>

          <th class="h4">id</th>

          <th class="h4">name</th>

          <th class="h4">chanel</th>

          <th class="h4">seasons</th>




        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let c of getSeries()">

          <td>

            <dd>{{c.id}}</dd>

          </td>

          <td>

            <dd>{{c.name}}</dd>

          </td>

          <td>

            <dd>{{c.chanel}}</dd>

          </td>

          <td>

            <dd>{{c.seasons}}</dd>

          </td>




      </tr>

      </tbody>

    </table>

  </div>
  <div class= "promedio" *ngFor="let d of sacarPromedio()">
    
    <h4>season average: {{d}}</h4>
  </div>

</div>

